---
layout: default
title: Home
---

<div class="posts">

  <!-- Google Adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- jwkcp.github.io-gnb -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4723050202844906"
       data-ad-slot="1981829271"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- Google Adsense End -->
  <br/>

  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: '%Y년 %m월 %d일' }}</span>
    {{ post.content }}
  </div>

  {% if forloop.last == false %}
  <hr class="post-divider-line"/>
  {% endif %}

  {% endfor %}

  <br/>

  <!-- Google Adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- jwkcp.github.io-gnb -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4723050202844906"
       data-ad-slot="1981829271"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- Google Adsense End -->

</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

