---
layout: page
title: 딥러닝 학습자료
comments: true
---

<div class="alert alert-secondary">
    최종 업데이트: 2018년 4월 17일 <small class="text-muted ml-1">지속적으로 업데이트 됩니다.</small>
</div>

{% for archive in site.data.archives.chunk %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th colspan="2"><h2>{{ archive.title }}</h2></th>
        </tr>
    </thead>
    <tbody>
        {% for link in archive.links %}
        <tr>
            <td class="col-md-8">
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                <small class="text-muted">{{ link.desc }}</small>
            </td>
            <td class="col-md-4">
                <small>{{ link.author }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
    <hr/>
</table>
{% endfor %}

