---
layout: default
---
<div class="post">

  {% include google_adsense.html %}

  <br>

  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%Y년 %m월 %d일' }} <div class="fb-like" data-href="{{ site.url}}{{ page.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div></span>
  
  {{ content }}
</div>

  <br>
  {% include google_adsense.html %}

<!-- DISQUS -->
{% if page.comments %}
{% include disqus.html %}
{% endif %}
<!-- DISQUS END -->

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:10 %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
      </li>
    {% endfor %}
  </ul>
</div>

<br>
{% include google_adsense_text.html %}
